:root {
    --primary-color: #10110E;
    --text-color: #1a1a1a;
    --secondary-color: #ED712E;
    --secondary-hover: #ff5900;
    --btn-remove: #ee091c;
    --card-border: #E6E6FA;
    --card-bg: #ffffff;
    --body-color: #1E1E1E;
}

body {
    background: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: var(--secondary-color);
    color: #ffff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--secondary-hover);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(102, 51, 153, 0.2);
}