.card-container {
    display: flex;
    gap: 8px;
    padding: 20px;
    align-items: center;
    background-color: rgb(242, 245, 244);
    border-radius: 8px;
    margin: 12px;
}
.card-image {
    border-radius: 8px;
    display: flex;
    background-color: #d4edda;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.card-image.disponivel {
  background-color: rgb(181, 231, 183);
}

.card-image.indisponivel {
  background-color: #f8d7da;
}

.card-title {
    font-size: 14px;
}

.card-image_logo {
    width: 34px;
    height: 32px;
}

.card-number {
    font-weight: bold;
    font-size: 18px;
}