#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.logo-text {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;
}

.image-logo {
  width: 40px;
  height: auto;
}

.logo-text h1 {
  margin: 0;
  font-size: 24px;
}

.header p {
  margin: 0;
  font-size: 14px;
  color: #666;
  max-width: 300px;
}

@media (min-width: 1200px) {
  .cards-books {
    display: flex;
    justify-content: center;
  }

}
