#header-content {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.header-logo {
    display: flex;
    gap: 2rem;
    align-items: center;
}


@media (max-width: 600px) {
    .header-logo img{
        display: none;
    }
}